.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-end;
}

.navbar{
  background-color: #474b54;
  padding: 1rem 3rem;
}

.navbar-brand{
  color: white !important;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #bdbdbd;
  padding: 1rem;
}

.search-input{
  height: 2.5rem;
  width: 25rem;
  border-radius: 6px;
  outline: none;
  border: none;
  margin-right: 0.5rem;
}

