.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-end;
}

.navbar {
  background-color: #474b54;
  padding: 1rem 3rem;
}

.navbar-brand {
  color: white !important;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #bdbdbd;
  padding: 1rem;
}

.search-input {
  height: 2.5rem;
  width: 35rem;
  border-radius: 6px;
  outline: none;
  border: none;
  margin-right: 0.5rem;
  padding-left: 1rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.movie {
  background-color: #3d3d3dc0;
  color: #e6e6e6;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  overflow: hidden;
  margin: 1rem;
  width: 15rem;
  position: relative;
}

.movie img {
  object-fit: cover;
  height: 25rem;
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 0.7rem;
  align-items: center;
  justify-content: flex-start;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  position: absolute;
  top: 12rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #49494948;
  backdrop-filter: blur(50px);
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

.movie:hover .movie-over {
  transform: translateX(0%);
  cursor: pointer;
}

.movie:hover {
  transform: scale(110%);
  transition: transform 0.3s ease-in-out;
}

.movie-name {
  position: relative;
  padding: 0;
  margin: 0;
  display: contents;
}

.movie-title {
  color: #e6e6e6;
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.tag {
  border-radius: 5px;
  padding: 0.3rem;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
}

.tag.green {
  background-color: #1b5e20;
}

.tag.orange {
  background-color: #f57f17;
}

.tag.red {
  background-color: #7f0000;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form {
  flex: 1;
  background-color: #e8e8e8;
  color: black;
  padding: 5rem;
}

.form-title {
  text-align: center;
  margin-bottom: 3rem;
}

.form-label {
  padding-left: 1.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.form-control {
  width: 90%;
  margin: 1.5rem;
}

#enter-password {
  display: flex;
  background-color: #7f0000c1;
  border: 1px solid #7f000000;
  width: 20rem;
  color: rgb(255, 255, 255);
  justify-content: center;
  margin-left: 11rem;
  border-radius: 5px;
}

.no-movie {
  text-align: center;
  margin: 10rem;
  font-size: 1.5rem;
}

.login-img-container {
  float: left;
  width: 50%;
  position: relative;
}

.login-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.register-img-container {
  float: right;
  width: 50%;
  position: relative;
}

.register-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.register-form {
  float: left;
  width: 50%;
  padding: 4rem 5rem;
}

/* .alert-danger{
  display: flex;
  background-color: #7f0000c1;
  border: 1px solid #7f000000;
  color: rgb(255, 255, 255);
  justify-content: center;
  border-radius: 5px;
} */

/* .alert-success{
  display: flex;
  background-color: #1b5e1fc1;
  border: 1px solid #1b5e1f00;
  color: rgb(255, 255, 255);
  justify-content: center;
  border-radius: 5px;
} */

.user-id {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.logout-icon {
  margin-left: 5px;
}

.btn-logout {
  background-color: #bdbdbd;
  color: black;
}

.fav-button{
  display:block;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  transition: color 0.2s;
}

.fav-button:hover{
  background-color: transparent;
  transform: scale(150%);
  transition: transform 0.2s ease-in-out;
}

.fav-button-icon{
    display: block;
  font-size: 1.5rem;
  color: #fff;
}

.fav-button-icon:hover{
 color: red;
}

.filled-red {
  background-color: red;
}

.clicked{
    background-color: red;
}